/** biome-ignore-all lint/correctness/noUnknownProperty: DaisyUI plugin */
@import "tailwindcss";
@plugin "daisyui" {
  themes: night --default;
}
@plugin "daisyui/theme" {
  name: "night";
  default: true;
  --color-primary: var(--color-sky-500);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-line-seed-sans-th: var(--font-line-seed-sans-th);
  --font-lexend: var(--font-lexend);
}

@theme {
  --container-8xl: 88rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: oklch(20.8% 0.042 265.755);
    --foreground: oklch(70.4% 0.04 256.788);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-lexend), var(--font-line-seed-sans-th);
}

h2 {
  @apply text-3xl font-bold text-white;
}

h3 {
  @apply text-2xl font-bold text-white;
}

h4 {
  @apply text-xl font-bold text-white;
}

h5 {
  @apply text-lg font-bold text-white;
}

h6 {
  @apply text-base font-bold text-white;
}

p {
  @apply text-base;
}
